<div class="top-contain">
  <div class="title-contain">
    <h1 class="titel">買い物上手<h1>
    <p class="sub-title">本当にその買い物お得ですか？<br>普段買う物の単価を登録しておき、<br>買うかどうかの判断に利用しましょう</p>
  </div>
  <div class="link-contain">
    <%= link_to "ログイン", new_user_session_path, class:"login-btn" %>
    <%= link_to "使い方", sample_items_path, class:"howtouse-btn"%>
    <%= link_to "共有スペース", share_items_path, class:"share-btn"%>
  </div>
</div>