<div class="top-contain">
  <div class="title-contain">
    <h1 class="titel">買い物上手<h1>
    <p class="sub-title">単価を登録して、買う買わないの判断に使用</p>
  </div>
  <div class="link-contain">
    <%= link_to "ログイン", new_user_session_path, class:"login-btn" %>
    <%= "使い方"%>
  </div>
</div>