<div class="top-contain">
  <div class="title-contain">
    <h1 class="title">『compare-prices』<h1>
    <p class="sub-title">日用品の単価メモアプリ<br>普段買う商品と単価を登録<br></p>
  </div>
  <div class="link-contain">
    <%= link_to "my page", new_user_session_path, class:"login-btn" %>
    <%= link_to "how to use", sample_items_path, class:"howtouse-btn"%>
    <%= link_to "share space", share_items_path, class:"share-btn"%>
  </div>
</div>