<h3>ユーザー登録方法</h3>
<%= image_tag "user登録.gif", class:"howto-put" %>
<h3>商品投稿方法</h3>
<h4>*単価が自動で計算されます</h4>
<%= image_tag "商品登録.gif", class:"howto-put" %>
<h3>商品検索方法</h3>
<%= image_tag "商品検索.gif", class:"howto-put" %>