/* common */

/* スマホ向けデザイン */
@media (max-width: 599px) {
  .header {
    position: relative;
    padding-bottom: 30px;
  }
  
  .header-upper {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .user_name {
    margin-left: 20px;
    font-size: 20px;
  }
  
  .menu {
    padding: 10px;
    margin-right: 20px;
    font-size: 16px;
    border: 1px solid black;
    color: white;
    background-color: lightgray;
  }
  
  .show-menus {
    width: 100%;
    position: absolute;
    right: 10px;
    top: 60px;
    background-color: #ffffff;
  }
  
  .header-bottom {
    width: 100%;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-input {
    width: 60vw;
    height: 30px;
  }
   
  .search-result {
    width: 200px;
    margin: 0 auto;
    background-color: black;
  }
  
  .child {
    color: #ffffff;
    border-bottom: #666 1px solid;
    padding-left: 10px;
  }
  
  /* main */
  .item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  .item {
    width: 100vw;
    border: 1px solid gray;
  }
  
  .item-image {
    width: 200px;
    height: 200px;
  }
  
  .unit-price {
    font-size: 20px;
    color: black;
  }
  
  .item-tag {
    font-size: 18px;
    color: black;
  }
  
  .tag-name {
    color: black;
  }
  
  .footer {
    background-color: lightgray;
    padding: 10px 0;
  }
  
  .copyright {
    text-align: center;
    color: #fff;
    font-size: 15px;
  }
  
  .hidden {
    display: none;
  }
  
  /* TOPページ */
  
  .top-contain {
    height: 100vh;
    background-image: url("/images/shopping.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .title-contain {
    height: 50%;
    padding: 20px;
    color: #ffffff;
  }
  
  .title {
    font-size: 18px;
  }
  .sub-title {
    font-size: 15px;
  }
  
  .link-contain {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  
  .login-btn, .howtouse-btn, .share-btn {
    width: 50vw;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 20px/20px;
    text-decoration: none;
    background-color: lightgray;
    margin-bottom: 5px;
  }
  
  /* sampleページ */
  
  .howto-put {
    width: 100%;
    height: 50vh;
  }
}

/* pc向けデザイン */
@media (min-width: 600px) {
  .header {
    position: relative;
    padding-bottom: 30px;
  }
  
  .header-upper {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .user_name {
    margin-left: 50px;
    font-size: 30px;
  }
  
  .menu {
    padding: 10px;
    margin-right: 20px;
    font-size: 16px;
    border: 1px solid black;
    color: white;
    background-color: lightgray;
  }
  
  .show-menus {
    width: 200px;
    position: absolute;
    right: 10px;
    top: 70px;
    background-color: #ffffff;
  }
  
  .header-bottom {
    width: 100%;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-input {
    width: 40vw;
    height: 30px;
  }
   
  .search-result {
    width: 200px;
    margin: 0 auto;
    background-color: black;
  }
  
  .child {
    color: #ffffff;
    border-bottom: #666 1px solid;
    padding-left: 10px;
  }
  
  /* main */
  .item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  .item {
    width: clac(100%/4);
    border: 1px solid gray;
  }
  
  .item-image {
    width: 200px;
    height: 200px;
  }
  
  .unit-price {
    font-size: 20px;
    color: black;
  }
  
  .item-tag {
    font-size: 18px;
    color: black;
  }
  
  .tag-name {
    color: black;
  }
  
  .footer {
    background-color: lightgray;
    padding: 10px 0;
  }
  
  .copyright {
    text-align: center;
    color: #fff;
    font-size: 15px;
  }
  
  .hidden {
    display: none;
  }
  
  /* TOPページ */
  
  .top-contain {
    height: 100vh;
    background-image: url("/images/shopping.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .title-contain {
    height: 50%;
    padding: 20px;
    color: #ffffff;
  }
  
  .title {
    font-size: 40px;
  }
  .sub-title {
    font-size: 30px;
  }
  
  .link-contain {
    display: flex;
    justify-content: center;
  }
  
  .login-btn, .howtouse-btn, .share-btn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 20px/20px;
    text-decoration: none;
    background-color: lightgray;
  }

  .login-btn:hover, .howtouse-btn:hover, .share-btn:hover {
    opacity: 0.8;
  }

  .login-btn {
    padding: 10px;
    margin-right: 10px;
  }
  
  .howtouse-btn {
    padding: 10px 20px;
    margin-right: 10px;
  }
  .share-btn {
    padding: 10px 20px;
  }
  
  /* sampleページ */
  
  .howto-put {
    width: 550px;
    height: 400px;
  }
}